In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('electroral_bonds_receiver_data.csv')
df2= pd.read_csv('electroral_bonds_buyer_data.csv')

df = pd.merge(df1,df2,on='Unnamed: 0')

In [6]:
df= df.drop(columns=['Unnamed: 0'],axis=1)

In [7]:
df.head()

,Date of\nEncashment,Name of the Political Party,Denomination_x,Date of Purchase,Purchaser Name,Denomination_y
0,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1000000,12/Apr/2019,A B C INDIA LIMITED,100000
1,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1000000,12/Apr/2019,A B C INDIA LIMITED,100000
2,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,10000000,12/Apr/2019,A B C INDIA LIMITED,1000000
3,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1000000,12/Apr/2019,A B C INDIA LIMITED,1000000
4,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1000000,12/Apr/2019,A B C INDIA LIMITED,100000