In [3]:
import plotly.express as px
import pandas as pd
import plotly.io as pio
import plotly.graph_objects as go

In [4]:
df1 = pd.read_csv('electroral_bonds_receiver_data.csv')
df2= pd.read_csv('electroral_bonds_buyer_data.csv')

df = pd.merge(df1,df2,on='Unnamed: 0')

In [5]:
df= df.drop(columns=['Unnamed: 0'],axis=1)

In [6]:
df.head()

,Date of\nEncashment,Name of the Political Party,Denomination_x,Date of Purchase,Purchaser Name,Denomination_y
0,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1000000,12/Apr/2019,A B C INDIA LIMITED,100000
1,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1000000,12/Apr/2019,A B C INDIA LIMITED,100000
2,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,10000000,12/Apr/2019,A B C INDIA LIMITED,1000000
3,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1000000,12/Apr/2019,A B C INDIA LIMITED,1000000
4,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1000000,12/Apr/2019,A B C INDIA LIMITED,100000

In [7]:
df=df.rename(columns={'Date of\nEncashment':'encashment_date','Name of the Political Party':'pol_party','Date of Purchase':'purchased_date','Purchaser Name':'purchaser_name','Denomination_x':'price'})

In [8]:
df= df.drop(columns=['Denomination_y'],axis=1)

In [9]:
df.head()

,encashment_date,pol_party,price,purchased_date,purchaser_name
0,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1000000,12/Apr/2019,A B C INDIA LIMITED
1,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1000000,12/Apr/2019,A B C INDIA LIMITED
2,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,10000000,12/Apr/2019,A B C INDIA LIMITED
3,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1000000,12/Apr/2019,A B C INDIA LIMITED
4,12/Apr/2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1000000,12/Apr/2019,A B C INDIA LIMITED

In [10]:
df['encashment_date']= df.encashment_date.str.replace('/','-')

In [11]:
df['purchased_date']= df.encashment_date.str.replace('/','-')

In [12]:
df.head()

,encashment_date,pol_party,price,purchased_date,purchaser_name
0,12-Apr-2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1000000,12-Apr-2019,A B C INDIA LIMITED
1,12-Apr-2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1000000,12-Apr-2019,A B C INDIA LIMITED
2,12-Apr-2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,10000000,12-Apr-2019,A B C INDIA LIMITED
3,12-Apr-2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1000000,12-Apr-2019,A B C INDIA LIMITED
4,12-Apr-2019,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,1000000,12-Apr-2019,A B C INDIA LIMITED

In [13]:
tree_df = df.copy()

In [14]:
tree_df=tree_df.drop(columns=['encashment_date','purchased_date','purchaser_name'],axis=1)

In [15]:
tree_df=tree_df.groupby(by='pol_party').sum()

In [16]:
tree_df =tree_df.reset_index()

In [ ]:
px.pie(tree_df, values='price', names='pol_party', title='Population of European continent')

In [18]:
table_df=df.copy()

fig = go.Figure(data=[go.Table(
    header=dict(values=list(table_df.columns),
                fill_color='paleturquoise',
                align='left'),
    cells=dict(values=[table_df.pol_party,table_df.purchaser_name,table_df.price],
               fill_color='lavender',
               align='left'))
])

fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [ ]:
px.treemap(data_frame=tree_df,names='pol_party',values='price')

In [ ]:
px.treemap(data_frame=tree_df,path=['pol_party'],values='price',color='price')